@charset 'UTF-8';

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Medium.ttf);
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Italic.ttf);
  font-weight: italic;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: ChakraPetch;
  font-weight: normal;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img,
fieldset {
  border: none;
  vertical-align: top;
}

legend,
caption {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
}

textarea,
button {
  vertical-align: middle;
}

input,
select {
  vertical-align: middle;
  background: #fff;
  border: 1px solid #e0e0e0;
  font-family: ChakraPetch;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  border-radius: 0;
}

input {
  padding: 3px 10px;
  height: 32px;
}

option {
  padding: 3px 10px;
}

input[type="radio"],
input[type="checkbox"] {
  border: 0;
  padding: 0;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="password"] {
  height: 40px;
  border: 1px solid #e0e0e0;
  color: #000;
  background: #fff;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="text"] {
  background: #fff;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0 12px;
  width: 100%;
  border-radius: 4px;
}

input[type="tel"] {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="file"] {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

select {
  padding: 5px 30px 5px 10px;
  height: 40px;
  border: 1px solid #e0e0e0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background: #fff url("assets/images/icon/m_sel_icon.png") no-repeat right 15px center; */
  background-size: 13px;
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  select {
    padding-left: 10px;
  }
}

textarea {
  padding: 10px;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #e0e0e0;
  font-family: ChakraPetch;
  color: #000;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  font-size: 16px;
  font-family: ChakraPetch;
}

button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

strong {
  font-weight: normal;
}

th {
  font-weight: normal;
}

::-webkit-input-placeholder {
  color: #cfcfcf;
}

:-moz-placeholder {
  color: #cfcfcf;
  opacity: 1;
}

::-moz-placeholder {
  color: #cfcfcf;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cfcfcf;
}

:placeholder-shown {
  color: #cfcfcf;
}

/* 간격 */
.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* 본문 바로가기 */
.goCon {
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 9999;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  height: 50px;
  color: #fff;
  line-height: 1;
  background: #272727;
}

.goCon:focus {
  top: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  overflow-x: hidden;
}

#cBody {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

.blackBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* radito Type */
.radio {
  display: inline-block;
  vertical-align: top;
}

.radio input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.radio input[type="radio"]+label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 27px;
  font-size: 18px;
  color: #555;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.radio input[type="radio"]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  text-align: center;
  background: url("assets/images/icon/radio.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}

.radio input[type="radio"]:checked+label {
  font-weight: bold;
  color: #00aad2;
  letter-spacing: -0.66px;
}

.radio input[type="radio"]:checked+label:before {
  background: url("assets/images/icon/radio_on.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}

/* check Type */
.check {
  display: inline-block;
  vertical-align: top;
}

.check input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.check input[type="checkbox"]+label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 27px;
  font-size: 18px;
  color: #555;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.check input[type="checkbox"]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-align: center;
  background: url("assets/images/icon/check.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}

.check input[type="checkbox"]:checked+label {
  font-weight: bold;
  color: #00aad2;
  letter-spacing: -0.66px;
}

.check input[type="checkbox"]:checked+label:before {
  background: url("assets/images/icon/check_on.png") no-repeat 50% 50%;
  background-size: 100% 100%;
}

/* button */
.btnArea {
  margin-top: 10px;
  position: relative;
  text-align: center;
  height: auto !important;
}

@media (min-width: 425px) {
  .btnArea .nextBt {
    width: 110px !important;
  }
}

.btnArea.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  margin-top: 0;
}

.btnArea a,
.button {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
}

.btnArea a:last-child,
.button:last-child {
  margin-right: 0;
}

.btnArea a.disabled,
.button:disabled {
  color: #a7a7a7 !important;
}

.grayBt {
  background: #767676;
  color: #fff;
}

.blueBt {
  background: #002c5f;
  color: #fff;
}

.blueBt.submit {
  background: #006992;
  color: #fff;
}

/* text input */
.input input[type="text"] {
  width: calc(100% - 22px);
  /*padding-bottom: 23px;*/
  font-size: 20px;
}

.input input[type="text"]:disabled {
  color: #cfcfcf;
  background: #eee;
}

/* header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 33px 0 32px;
  text-align: center;
}

#header h1 {
  display: inline-block;
  vertical-align: top;
}

#header h1 a {
  display: block;
  width: 300px;
  height: 25px;
  background: url("assets/images/logo.png") no-repeat 50% 50%;
  background-size: 100% auto;
}

#header h1.type2 a {
  background: url("assets/images/logo_new.png") no-repeat 50% 50%;
  background-size: 100% auto;
}

#header .lang {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 154px;
  text-align: left;
  border: 1px solid #fff;
}

#header .lang.on {
  border: 0;
  background: rgba(255, 255, 255, 0.8);
}

#header .lang>a {
  display: block;
  height: 31px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  line-height: 31px;
  background: url("assets/images/icon/lang_icon.png") no-repeat right 20px top 50%;
}

#header .lang.on>a {
  color: #888;
  background: url("assets/images/icon/lang_icon_on.png") no-repeat right 20px top 50%;
}

#header .lang>div {
  padding: 10px 20px 19px;
  display: none;
}

#header .lang>div a {
  display: block;
  display: block;
  font-family: ChakraPetch;
  font-weight: normal;
  font-size: 12px;
  color: #888;
  margin-top: 19px;
}

#header .lang>div a:first-child {
  margin-top: 0;
}

#header .lang.mobile {
  display: none;
}

#header .lang.type2 {
  border: 1px solid #eee;
}

#header .lang.type2>a {
  color: #888;
  background: url("assets/images/icon/lang_icon2.png") no-repeat right 20px top 50%;
}

/* footer */
#footer {
  position: fixed;
  padding: 19px 0;
  background: #2f2f2f;
  font-size: 12px;
  color: #666;
  line-height: 1;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* lypop */
.lyPop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 498px;
  padding-top: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 999;
}

.lyPop .popClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 18px;
  height: 18px;
  background: url("assets/images/btn/lypop_close.png") no-repeat 50% 50%;
  background-size: 100% auto;
}

.lyPop .container {
  padding: 40px 10px;
  text-align: center;
}

.lyPop .container .txt {
  font-size: 16px;
  color: #000;
  line-height: 26px;
}

.lyPop .container .btn {
  text-align: center;
  margin-top: 38px;
}

.lyPop .container .btn a {
  display: inline-block;
  width: 110px;
  height: 50px;
  background: #002c5f;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
}

/* 미디어쿼리 시작 */
@media all and (max-width: 1400px) {

  /* 작은 웹, 태블릿가로 */
  /* header */
  #header {
    padding: 22px 0 22px;
  }

  #header h1 a {
    width: 300px;
    height: 25px;
  }

  #header .lang {
    top: 16px;
    right: 20px;
  }

  #header .lang>a {
    height: 27px;
    line-height: 27px;
  }

  #header .lang>div {
    padding: 9px 20px 17px;
  }

  #header .lang>div a {
    margin-top: 17px;
  }

  /* radito Type */
  .radio input[type="radio"]+label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .radio input[type="radio"]+label:before {
    width: 10px;
    height: 10px;
    top: 4px;
    margin-top: 0;
  }

  /* check Type */
  .check input[type="checkbox"]+label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .check input[type="checkbox"]+label:before {
    width: 14px;
    height: 14px;
    top: 2px;
    margin-top: 0;
  }

  /* text input */
  .input input[type="text"] {
    padding-bottom: 0px;
    font-size: 16px;
  }

  /* button */
  .btnArea a,
  .button {
    height: 40px;
    line-height: 40px;
  }
}

@media all and (max-width: 1023px) {
  /* 태블릿 세로 */
}

@media all and (max-width: 758px) {

  /* 모바일 */
  #wrapper {
    min-height: 450px;
  }

  /* header */
  #header {
    padding: 15px 0 15px;
  }

  #header h1 a {
    width: 145px;
    height: 11px;
  }

  #header .lang {
    display: none;
  }

  #header .lang.mobile {
    top: 12px;
    right: 15px;
    display: block;
    width: auto;
    border: 0;
  }

  #header .lang.mobile.on {
    background: none;
  }

  #header .lang.mobile>a {
    width: 17px;
    height: 17px;
    padding: 0;
    background: url("assets/images/icon/m_lang_icon.png") no-repeat 50% 50%;
    background-size: 100%;
  }

  #header .lang.mobile>div {
    position: absolute;
    top: -200px;
    right: -200px;
    display: block;
    padding: 0;
    overflow: hidden;
    background: #fff;
  }

  #header .lang.mobile>div>div {
    padding: 7px 15px 19px;
    border: 1px solid #eee;
  }

  #header .lang.mobile>div a {
    font-size: 13px;
    color: #666;
    margin-top: 20px;
  }

  #header .lang.mobile>div a:first-child {
    margin-top: 0;
  }

  #header .lang.mobile>div a.langBt {
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    line-height: 40px;
  }

  #header .lang.mobile.type2>a {
    background: url("assets/images/icon/m_lang_icon2.png") no-repeat 50% 50%;
    background-size: 100%;
  }

  /* footer */
  #footer {
    display: none;
    padding: 15px;
    text-align: left;
    line-height: 1.5;
  }

  #footer.block {
    display: block;
  }

  /* radito Type */
  .radio input[type="radio"]+label {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px;
  }

  .radio input[type="radio"]+label:before {
    top: 3px;
    width: 13px;
    height: 13px;
    margin-top: 0;
  }

  .radio input[type="radio"]:checked+label {
    font-weight: normal;
    color: #555;
    letter-spacing: 0;
  }

  /* check Type */
  .check input[type="checkbox"]+label {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px;
  }

  .check input[type="checkbox"]+label:before {
    top: 2px;
    width: 13px;
    height: 13px;
    margin-top: 0;
  }

  .check input[type="checkbox"]:checked+label {
    font-weight: normal;
    color: #555;
    letter-spacing: 0;
  }

  /* text input */
  .input input[type="text"] {
    padding-bottom: 0px;
    font-size: 13px;
  }

  /* lypop */
  .lyPop {
    width: calc(100% - 30px);
    padding-top: 25px;
  }

  .lyPop .popClose {
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
  }

  .lyPop .container {
    padding: 25px 15px 20px;
  }

  .lyPop .container .txt {
    font-size: 14px;
    line-height: 20px;
  }

  .lyPop .container .btn {
    margin-top: 35px;
  }

  .lyPop .container .btn a {
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
  }
}

@media all and (max-width: 450px) {}

@media all and (max-width: 350px) {}



@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Medium.ttf)
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Bold.ttf);
  font-weight: 700
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Italic.ttf);
  font-weight: italic
}

* {
  margin: 0;
  padding: 0
}

html {
  width: 100%;
  height: 100%
}

body {
  position: relative;
  font-family: ChakraPetch;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1
}

body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
table,
td,
th,
tr,
ul {
  margin: 0;
  padding: 0
}

li,
ol,
ul {
  list-style: none
}

fieldset,
img {
  border: none;
  vertical-align: top
}

caption,
legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1
}

button,
textarea {
  vertical-align: middle
}

input,
select {
  vertical-align: middle;
  background: #fff;
  border: 1px solid #e0e0e0;
  font-family: ChakraPetch;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  border-radius: 0
}

input {
  padding: 3px 10px;
  height: 32px
}

option {
  padding: 3px 10px
}

input[type=checkbox],
input[type=radio] {
  border: 0;
  padding: 0;
  height: auto;
  box-shadow: none
}

input[type=password] {
  height: 40px;
  border: 1px solid #e0e0e0;
  color: #000;
  background: #fff;
  -webkit-appearance: none;
  box-shadow: none
}

input[type=text] {
  background: #fff;
  -webkit-appearance: none;
  box-shadow: none;
  padding: 0 12px;
  width: 100%;
  border-radius: 4px
}

input[type=file],
input[type=tel] {
  -webkit-appearance: none;
  box-shadow: none
}

select {
  padding: 5px 30px 5px 10px;
  height: 40px;
  border: 1px solid #e0e0e0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(assets/images/icon/m_sel_icon.png) right 15px center/13px no-repeat #fff
}

select::-ms-expand {
  display: none
}

@-moz-document url-prefix() {
  select {
    padding-left: 10px
  }
}

textarea {
  padding: 10px;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #e0e0e0;
  font-family: ChakraPetch;
  color: #000;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0
}

a {
  text-decoration: none;
  color: #000
}

a:active,
a:focus,
a:hover {
  text-decoration: none
}

table {
  border-collapse: collapse;
  width: 100%
}

button {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  font-size: 16px;
  font-family: ChakraPetch
}

button:active {
  outline: 0
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

strong,
th {
  font-weight: 400
}

::-webkit-input-placeholder {
  color: #cfcfcf
}

:-moz-placeholder {
  color: #cfcfcf;
  opacity: 1
}

::-moz-placeholder {
  color: #cfcfcf;
  opacity: 1
}

:-ms-input-placeholder {
  color: #cfcfcf
}

:placeholder-shown {
  color: #cfcfcf
}

.mt0 {
  margin-top: 0 !important
}

.mt5 {
  margin-top: 5px !important
}

.mt10 {
  margin-top: 10px !important
}

.mt15 {
  margin-top: 15px !important
}

.mt20 {
  margin-top: 20px !important
}

.mt25 {
  margin-top: 25px !important
}

.mt30 {
  margin-top: 30px !important
}

.mt35 {
  margin-top: 35px !important
}

.mt40 {
  margin-top: 40px !important
}

.mt45 {
  margin-top: 45px !important
}

.clear:after {
  content: "";
  display: block;
  clear: both
}

.goCon {
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 9999;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  height: 50px;
  color: #fff;
  line-height: 1;
  background: #272727
}

.goCon:focus {
  top: 0
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  overflow-x: hidden
}

#cBody {
  position: relative;
  width: 100%;
  /* overflow: hidden */
}

.blackBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5)
}

.radio {
  display: inline-block;
  vertical-align: top
}

.radio input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.radio input[type=radio]+label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 27px;
  font-size: 18px;
  color: #555;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.radio input[type=radio]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  text-align: center;
  background: url(assets/images/icon/radio.png) 50% 50%/100% 100% no-repeat
}

.radio input[type=radio]:checked+label {
  font-weight: 700;
  color: #00aad2;
  letter-spacing: -.66px
}

.radio input[type=radio]:checked+label:before {
  background: url(assets/images/icon/radio_on.png) 50% 50%/100% 100% no-repeat
}

.check {
  display: inline-block;
  vertical-align: top
}

.check input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.check input[type=checkbox]+label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 27px;
  font-size: 18px;
  color: #555;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.check input[type=checkbox]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-align: center;
  background: url(assets/images/icon/check.png) 50% 50%/100% 100% no-repeat
}

.check input[type=checkbox]:checked+label {
  font-weight: 700;
  color: #00aad2;
  letter-spacing: -.66px
}

.check input[type=checkbox]:checked+label:before {
  background: url(assets/images/icon/check_on.png) 50% 50%/100% 100% no-repeat
}

.btnArea {
  margin-top: 10px;
  position: relative;
  text-align: center;
  height: auto !important
}

.btnArea.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  margin-top: 0
}

.btnArea a,
.button {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-right: 10px
}

.btnArea a:last-child,
.button:last-child {
  margin-right: 0
}

.btnArea a.disabled,
.button:disabled {
  color: #a7a7a7 !important
}

.grayBt {
  background: #767676;
  color: #fff
}

.blueBt {
  background: #002c5f;
  color: #fff
}

.blueBt.submit {
  background: #006992;
  color: #fff
}

.input input[type=text] {
  width: calc(100% - 22px);
  font-size: 20px
}

.input input[type=text]:disabled {
  color: #cfcfcf;
  background: #eee
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 33px 0 32px;
  text-align: center
}

#header h1 {
  display: inline-block;
  vertical-align: top
}

#header h1 a {
  display: block;
  width: 300px;
  height: 25px;
  background: url(assets/images/logo.png) 50% 50%/100% auto no-repeat
}

#header h1.type2 a {
  background: url(assets/images/logo_new.png) 50% 50%/100% auto no-repeat
}

#header .lang {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 154px;
  text-align: left;
  border: 1px solid #fff
}

#header .lang.on {
  border: 0;
  background: rgba(255, 255, 255, .8)
}

#header .lang>a {
  display: block;
  height: 31px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  line-height: 31px;
  background: url(assets/images/icon/lang_icon.png) right 20px top 50% no-repeat
}

#header .lang.on>a {
  color: #888;
  background: url(assets/images/icon/lang_icon_on.png) right 20px top 50% no-repeat
}

#header .lang>div {
  padding: 10px 20px 19px;
  display: none
}

#header .lang>div a {
  display: block;
  font-family: ChakraPetch;
  font-weight: 400;
  font-size: 12px;
  color: #888;
  margin-top: 19px
}

#header .lang>div a:first-child {
  margin-top: 0
}

#header .lang.mobile {
  display: none
}

#header .lang.type2 {
  border: 1px solid #eee
}

#header .lang.type2>a {
  color: #888;
  background: url(assets/images/icon/lang_icon2.png) right 20px top 50% no-repeat
}

#footer {
  position: relative;
  padding: 19px 0;
  background: #2f2f2f;
  font-size: 12px;
  color: #666;
  line-height: 1;
  text-align: center
}

.lyPop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 498px;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 999
}

.lyPop .popClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 18px;
  height: 18px;
  background: url(assets/images/btn/lypop_close.png) 50% 50%/100% auto no-repeat
}

.lyPop .container {
  padding: 40px 10px;
  text-align: center
}

.lyPop .container .txt {
  font-size: 16px;
  color: #000;
  line-height: 26px
}

.lyPop .container .btn {
  text-align: center;
  margin-top: 38px
}

.lyPop .container .btn a {
  display: inline-block;
  width: 110px;
  height: 50px;
  background: #002c5f;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 50px
}

@media all and (max-width:1400px) {
  #header {
    padding: 22px 0
  }

  #header h1 a {
    width: 300px;
    height: 25px
  }

  #header .lang {
    top: 16px;
    right: 20px
  }

  #header .lang>a {
    height: 27px;
    line-height: 27px
  }

  #header .lang>div {
    padding: 9px 20px 17px
  }

  #header .lang>div a {
    margin-top: 17px
  }

  .radio input[type=radio]+label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px
  }

  .radio input[type=radio]+label:before {
    width: 10px;
    height: 10px;
    top: 4px;
    margin-top: 0
  }

  .check input[type=checkbox]+label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px
  }

  .check input[type=checkbox]+label:before {
    width: 14px;
    height: 14px;
    top: 2px;
    margin-top: 0
  }

  .input input[type=text] {
    padding-bottom: 0;
    font-size: 16px
  }

  .btnArea a,
  .button {
    height: 40px;
    line-height: 40px
  }
}

@media all and (max-width:758px) {
  #wrapper {
    min-height: 450px
  }

  #header {
    padding: 15px 0
  }

  #header h1 a {
    width: 145px;
    height: 11px
  }

  #header .lang {
    display: none
  }

  #header .lang.mobile {
    top: 12px;
    right: 15px;
    display: block;
    width: auto;
    border: 0
  }

  #header .lang.mobile.on {
    background: 0 0
  }

  #header .lang.mobile>a {
    width: 17px;
    height: 17px;
    padding: 0;
    background: url(assets/images/icon/m_lang_icon.png) 50% 50%/100% no-repeat
  }

  #header .lang.mobile>div {
    position: absolute;
    top: -200px;
    right: -200px;
    display: block;
    padding: 0;
    overflow: hidden;
    background: #fff
  }

  #header .lang.mobile>div>div {
    padding: 7px 15px 19px;
    border: 1px solid #eee
  }

  #header .lang.mobile>div a {
    font-size: 13px;
    color: #666;
    margin-top: 20px
  }

  #header .lang.mobile>div a:first-child {
    margin-top: 0
  }

  #header .lang.mobile>div a.langBt {
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 40px
  }

  #header .lang.mobile.type2>a {
    background: url(assets/images/icon/m_lang_icon2.png) 50% 50%/100% no-repeat
  }

  #footer {
    display: none;
    padding: 15px;
    text-align: left;
    line-height: 1.5
  }

  #footer.block {
    display: block
  }

  .radio input[type=radio]+label {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px
  }

  .radio input[type=radio]+label:before {
    top: 3px;
    width: 13px;
    height: 13px;
    margin-top: 0
  }

  .radio input[type=radio]:checked+label {
    font-weight: 400;
    color: #555;
    letter-spacing: 0
  }

  .check input[type=checkbox]+label {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px
  }

  .check input[type=checkbox]+label:before {
    top: 2px;
    width: 13px;
    height: 13px;
    margin-top: 0
  }

  .check input[type=checkbox]:checked+label {
    font-weight: 400;
    color: #555;
    letter-spacing: 0
  }

  .input input[type=text] {
    padding-bottom: 0;
    font-size: 13px
  }

  .lyPop {
    width: calc(100% - 30px);
    padding-top: 25px
  }

  .lyPop .popClose {
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px
  }

  .lyPop .container {
    padding: 25px 15px 20px
  }

  .lyPop .container .txt {
    font-size: 14px;
    line-height: 20px
  }

  .lyPop .container .btn {
    margin-top: 35px
  }

  .lyPop .container .btn a {
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 35px
  }
}


.main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  max-height: 100%;
  overflow: hidden;
  background: url(assets/images/icon/main_bg.jpg) 50% 50%/cover no-repeat
}

.main .txtArea {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translate(0, -50%);
  padding-top: 20px;
}

.main .txtArea .tit {
  position: relative;
  top: 100px;
  opacity: 0;
  font-size: 38px
}

.main .txtArea .tit span {
  display: inline-block;
  font-weight: 700;
  font-size: 48px;
  margin-top: 15px
}

.main .txtArea .txt {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 0 15px;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
  margin-top: 50px
}

.main .txtArea .txt.end {
  display: block !important
}

.main .txtArea .txt p {
  margin-top: 15px
}

.main .txtArea .txt p:first-child {
  margin-top: 0
}

.main .txtArea .moreBt {
  position: relative;
  top: 100px;
  opacity: 0;
  display: none
}

.main .txtArea .date {
  position: relative;
  top: 100px;
  opacity: 0;
  font-weight: 700;
  font-size: 16px;
  color: #ccc;
  line-height: 26px;
  margin-top: 70px
}

.main .txtArea .date span {
  font-weight: 400
}

.main .start {
  position: absolute;
  bottom: -100px;
  left: 50%;
  opacity: 0;
  height: 23vh;
  transform: translate(-50%, 0)
}

.main .start:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, .1)
}

.main .start a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #00aad2;
  border-radius: 40px
}

.main .start a span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translate(0, -50%)
}

.survey {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  min-height: 718px;
  max-height: 100%;
  padding: 90px 30px 30px;
  box-sizing: border-box;
  background: #fff
}

.survey .imgArea {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden
}

.survey .imgArea .bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%
}

.survey .imgArea .bg:first-child {
  top: 0
}

.survey .imgArea .bg.bg1_1 {
  background: url(assets/images/icon/survey1_bg1.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_2 {
  background: url(assets/images/icon/survey1_bg2.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_3 {
  background: url(assets/images/icon/survey1_bg3.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_3.v2 {
  background: url(assets/images/icon/survey1_bg3.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_4 {
  background: url(assets/images/icon/survey1_bg4.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_5 {
  background: url(assets/images/icon/survey1_bg5.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_6 {
  background: url(assets/images/icon/survey1_bg6.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_7 {
  background: url(assets/images/icon/survey1_bg7.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg1_8 {
  background: url(assets/images/icon/survey1_bg8.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_1 {
  background: url(assets/images/icon/survey2_bg1.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_2 {
  background: url(assets/images/icon/survey2_bg2.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_3 {
  background: url(assets/images/icon/survey2_bg3.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_4 {
  background: url(assets/images/icon/survey2_bg4.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_5 {
  background: url(assets/images/icon/survey2_bg5.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_6 {
  background: url(assets/images/icon/survey2_bg5.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_7 {
  background: url(assets/images/icon/survey2_bg7.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_8 {
  background: url(assets/images/icon/survey2_bg8.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg2_9 {
  background: url(assets/images/icon/survey2_bg9.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg.bg3 {
  background: url(assets/images/icon/survey3_bg1.jpg) 50% 50%/cover no-repeat
}

.survey .imgArea .bg .txtArea {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  transform: translate(0, -50%)
}

.survey .imgArea .bg .txtArea .num {
  font-weight: 700;
  font-size: 28px
}

.survey .imgArea .bg .txtArea .tit {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  margin-top: 15px
}

.survey .surveyArea {
  float: right;
  position: relative;
  width: 50%;
  height: 100%;
  padding-left: 30px;
  box-sizing: border-box;
  /* overflow    : hidden */
}

.survey .surveyArea input[type=hidden] {
  position: absolute;
  top: -9999px;
  left: -9999px
}

.survey .surveyArea .qArea {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff
}

.survey .surveyArea .qArea:nth-of-type(1) {
  top: 0
}

.survey .surveyArea .qArea .table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%
}

.survey .surveyArea .qArea .table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: text-top;
  position: relative;
}

.survey .surveyArea .qArea .conDiv {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  transform: translate(0, -50%)
}

.survey .surveyArea .qArea .conDiv .txtArea {
  /* display   : none; */
  width: 100%;
  min-height: calc(50% - 25px)
}

.survey .surveyArea .qArea .conDiv .txtArea:first-child,
.survey .surveyArea .qArea.havThr .conDiv .txtArea.sec {
  display: block
}

.survey .surveyArea .qArea .conDiv .btnArea,
.survey .surveyArea .qArea .conDiv .btnArea>.prevNext {
  display: none
}

.survey .surveyArea .checkArea {
  text-align: left
}

.survey .surveyArea .checkArea.yesNo {
  text-align: center
}

.survey .surveyArea .checkArea.yesNo .radio {
  width: auto;
  margin: 8px 10px
}

.survey .surveyArea .qTxt {
  font-size: 22px;
  color: #333;
  line-height: 28px;
  margin-top: 10px
}

.pcTxt {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-top: 5px
}

.survey .surveyArea .mobileTxt {
  display: none
}

.survey .surveyArea .scoreArea {
  position: relative;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  color: #bbb;
  margin-top: 45px
}

.survey .surveyArea .scoreArea span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 9px;
  margin-left: 30px
}

.survey .surveyArea .scoreArea span:first-child {
  margin-left: 0;
  margin-right: 30px
}

.survey .surveyArea .scoreArea .radio {
  margin: 8px
}

.survey .surveyArea .scoreArea label {
  padding-left: 14px;
  vertical-align: middle
}

.survey .surveyArea .mobileScore {
  display: none;
  text-align: center;
  margin-top: 30px
}

.survey .surveyArea .mobileScore .score {
  display: inline-block;
  vertical-align: top;
  width: 63px;
  font-size: 25px;
  color: #00aad2
}

.survey .surveyArea .mobileScore .minus {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  background: url(assets/images/btn/m_score_minus.png) 50% 50%/100% no-repeat
}

.survey .surveyArea .mobileScore .plus {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  background: url(assets/images/btn/m_score_plus.png) 50% 50%/100% no-repeat
}

.survey .surveyArea .checkArea {
  margin-top: 20px
}

.survey .surveyArea .checkArea.type2 {
  display: inline-block;
  max-width: 100%;
  width: 573px;
  text-align: left
}

.survey .surveyArea .checkArea .input {
  padding: 3px 15px 0
}

.survey .surveyArea .checkArea .check,
.survey .surveyArea .checkArea .radio {
  text-align: left;
  width: 45%;
  margin: 10px 15px
}

.survey .indiArea {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 16px;
  transform: translate(0, -50%);
  margin-top: 35px
}

.survey .indiArea a {
  display: block;
  width: 16px;
  height: 16px;
  background: url(assets/images/icon/indi.png) 50% 50%/100% auto no-repeat;
  margin-top: 14px
}

.survey .indiArea a:first-child {
  margin-top: 0
}

.survey .indiArea a.on {
  background: url(assets/images/icon/indi_on.png) 50% 50%/100% auto no-repeat
}

.survey .surveyArea .scoreArea .inputs {
  position: absolute;
  bottom: -100px;
  left: 0;
  display: none
}

.survey .surveyArea .scoreArea .btns {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 20px 0 23px
}

.survey .surveyArea .scoreArea .btns:after {
  content: "";
  display: block;
  clear: both
}

.survey .surveyArea .scoreArea .btns>.bad {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 16px
}

.survey .surveyArea .scoreArea .btns>.good {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 16px
}

.survey .surveyArea .scoreArea .btns a {
  float: left;
  position: relative;
  width: 36px;
  height: 22px;
  border-left: 1px solid #d4d4d4;
  background: #c2c2c2
}

.survey .surveyArea .scoreArea .btns a.fir {
  border-radius: 20px 0 0 20px;
  border-left: 0
}

.survey .surveyArea .scoreArea .btns a.last {
  border-radius: 0 20px 20px 0
}

.survey .surveyArea .scoreArea .btns a span {
  display: none;
  position: absolute;
  bottom: -23px;
  right: -6px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #00aad2;
  z-index: 2
}

.survey .surveyArea .scoreArea .btns a.last span {
  right: 0
}

.survey .surveyArea .scoreArea .btns:before {
  content: "0";
  position: absolute;
  bottom: 1px;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  color: #ccc
}

.survey .surveyArea .scoreArea .btns:after {
  content: "10";
  position: absolute;
  bottom: 1px;
  right: 0;
  font-weight: 400;
  font-size: 16px;
  color: #ccc
}

.survey .surveyArea .scoreArea .btns a.on {
  background: #00aad2;
  border-left: 1px solid #5fc5dd
}

.survey .surveyArea .scoreArea .btns a.selected span {
  display: block
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(1).on {
  background: #bc4948;
  border-left: 0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(1).on span {
  color: #bc4948
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(2).on {
  background: #bc4948;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(2).on span {
  color: #bc4948
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(3).on {
  background: #bc4948;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(3).on span {
  color: #bc4948
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(4).on {
  background: #bc4948;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(4).on span {
  color: #bc4948
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(5).on {
  background: #bc4948;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(5).on span {
  color: #bc4948
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(6).on {
  background: #bc4948;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(6).on span {
  color: #bc4948
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(7).on {
  background: #e2c939;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(7).on span {
  color: #e2c939
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(8).on {
  background: #e2c939;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(8).on span {
  color: #e2c939
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(9).on {
  background: #74c750;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(9).on span {
  color: #74c750
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(10).on {
  background: #74c750;
  border-left: 1px solid #f0f0f0
}

.survey .surveyArea .qArea.fir .scoreArea .btns a:nth-of-type(10).on span {
  color: #74c750
}

.complete {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 718px;
  overflow: hidden;
  background: url(assets/images/icon/complete_bg.jpg) 50% 50%/cover no-repeat
}

.complete .txtArea {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translate(0, -50%)
}

.complete .txtArea .tit {
  position: relative;
  top: 100px;
  opacity: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px
}

.complete .txtArea .txt {
  position: relative;
  top: 100px;
  opacity: 0;
  font-size: 18px;
  color: #eaeaea;
  line-height: 26px;
  margin-top: 30px
}

.complete .txtArea .eCode {
  position: relative;
  top: 100px;
  opacity: 0;
  font-size: 18px;
  color: #fff;
  margin-top: 80px
}

.complete .txtArea .eCode span {
  font-weight: 700
}

.complete .txtArea .couponArea {
  position: relative;
  top: 100px;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  margin-top: 30px
}

.complete .txtArea .couponArea .cpBox {
  display: inline-block;
  vertical-align: top;
  width: 470px;
  height: 234px;
  margin-left: 40px
}

.complete .txtArea .couponArea .cpBox:first-child {
  margin-left: 0
}

.complete .txtArea .couponArea .cpBox .top {
  position: relative;
  height: 134px;
  background: url(assets/images/icon/coupon_top_bg.png) no-repeat
}

.complete .txtArea .couponArea .cpBox .top .left {
  position: absolute;
  top: 50%;
  left: 30px;
  text-align: left;
  transform: translate(0, -50%)
}

.complete .txtArea .couponArea .cpBox .top .left .txt1 {
  font-weight: 700;
  font-size: 36px;
  color: #fff
}

.complete .txtArea .couponArea .cpBox .top .left .txt1 span {
  font-size: 54px
}

.complete .txtArea .couponArea .cpBox .top .left .txt2 {
  font-weight: 700;
  font-size: 18px;
  color: #fff
}

.complete .txtArea .couponArea .cpBox .top .right {
  position: absolute;
  top: 50%;
  right: 30px;
  max-width: 56%;
  text-align: right;
  transform: translate(0, -50%)
}

.complete .txtArea .couponArea .cpBox .top .right.type2 {
  max-width: 88%;
  text-align: left
}

.complete .txtArea .couponArea .cpBox .top .right .txt1 {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  line-height: 24px
}

.complete .txtArea .couponArea .cpBox .top .right .txt2 {
  font-size: 14px;
  color: #ccc;
  margin-top: 18px
}

.complete .txtArea .couponArea .cpBox .bottom {
  position: relative;
  height: 100px;
  padding-top: 14px;
  box-sizing: border-box;
  font-size: 12px;
  color: #888;
  text-align: left;
  background: url(assets/images/icon/coupon_bottom_bg.png) no-repeat
}

.complete .txtArea .couponArea .cpBox .bottom>div {
  padding: 0 30px;
  background: #f7f3f2
}

.complete .txtArea .couponArea .cpBox .bottom .mobileBtn,
.complete .txtArea .couponArea .cpBox .bottom .txt2 {
  display: none
}

.complete .txtArea .couponArea .cpBox .bottom ul li {
  position: relative;
  padding-left: 10px;
  font-size: 12px;
  color: #888;
  line-height: 16px;
  margin-top: 10px
}

.complete .txtArea .couponArea .cpBox .bottom ul li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #888
}

.complete .txtArea .couponArea .cpBox .bottom ul li:first-child {
  margin-top: 0
}

.errorWrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%
}

.errorWrap .errorCon {
  display: table-cell;
  width: 100%;
  height: 100%;
  min-height: 670px;
  vertical-align: middle;
  text-align: center
}

.errorWrap .errorCon .errorBox {
  position: relative;
  width: 825px;
  max-width: 90%;
  padding: 95px 15px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  box-sizing: border-box
}

.errorWrap .errorCon .errorBox .tit {
  font-size: 32px;
  color: #000;
  line-height: 1.3;
  margin-top: 50px
}

.errorWrap .errorCon .errorBox .txt1 {
  font-size: 20px;
  color: #aaa;
  margin-top: 20px
}

.errorWrap .errorCon .errorBox .txt2 {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  margin-top: 30px
}

.errorWrap .errorCon .errorBox .txt2 a {
  font-size: 20px;
  color: #448aff;
  vertical-align: top;
  text-decoration: underline
}

.errorWrap .errorCon .errorBox .btn {
  margin-top: 72px
}

.errorWrap .errorCon .errorBox .btn a {
  display: inline-block;
  padding: 12px 0;
  margin: 3px;
  width: 142px;
  font-size: 16px
}

.errorWrap .errorCon .errorBox .btn .prevBtn {
  color: #666;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px
}

.errorWrap .errorCon .errorBox .btn .mainBtn {
  color: #fff;
  background: #448aff;
  border: 1px solid #448aff;
  border-radius: 4px
}

@media all and (max-width:1400px) {
  .main .txtArea .txt {
    margin-top: 40px
  }

  .main .txtArea .date {
    margin-top: 60px
  }

  .main .start {
    height: 160px
  }

  .survey {
    padding: 60px 20px 20px
  }

  .survey .imgArea .bg .txtArea .num {
    font-size: 18px
  }

  .survey .imgArea .bg .txtArea .tit {
    font-size: 40px;
    margin-top: 5px
  }

  .survey .surveyArea .q img {
    height: 21px
  }

  .survey .surveyArea .qTxt {
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px
  }

  .survey .surveyArea .scoreArea {
    font-size: 14px;
    margin-top: 20px
  }

  .survey .surveyArea .scoreArea span {
    margin-top: 5px;
    margin-left: 15px
  }

  .survey .surveyArea .scoreArea span:first-child {
    margin-right: 15px
  }

  .survey .surveyArea .scoreArea .radio {
    margin: 6px
  }

  .survey .surveyArea .scoreArea label {
    padding-left: 10px
  }

  .survey .surveyArea .qArea .conDiv {
    padding: 0 0 0 20px
  }

  .survey .surveyArea .qArea .conDiv .txtArea {
    height: calc(50% - 20px)
  }

  .survey .surveyArea .checkArea {
    text-align: left
  }

  .survey .surveyArea .checkArea.yesNo {
    text-align: center
  }

  .survey .surveyArea .checkArea .input {
    padding: 3px 0 0
  }

  .survey .surveyArea .checkArea .check,
  .survey .surveyArea .checkArea .radio {
    width: 50%;
    margin: 8px 0
  }

  .survey .surveyArea .checkArea.yesNo .check,
  .survey .surveyArea .checkArea.yesNo .radio {
    width: auto;
    margin: 8px 10px
  }

  .survey .surveyArea .pcTxt {
    font-size: 14px;
    margin-top: 5px
  }

  .survey .indiArea {
    left: 30px
  }

  .survey .indiArea a {
    width: 14px;
    height: 14px
  }

  .survey .surveyArea .scoreArea .btns>.bad,
  .survey .surveyArea .scoreArea .btns>.good {
    font-size: 14px
  }

  .survey .surveyArea .scoreArea .btns a {
    width: 30px;
    height: 26px
  }

  .survey .surveyArea .scoreArea .btns a span {
    right: -5px;
    font-size: 14px
  }

  .survey .surveyArea .scoreArea .btns:after,
  .survey .surveyArea .scoreArea .btns:before {
    font-size: 14px
  }

  .complete .txtArea .txt {
    margin-top: 20px
  }

  .complete .txtArea .eCode {
    margin-top: 70px
  }
}

@media all and (max-width:1023px) {
  .complete .txtArea .couponArea {
    padding: 0 30px
  }

  .complete .txtArea .couponArea .cpBox {
    float: none;
    margin: 5px 0
  }
}

@media all and (max-width:758px) {
  .survey {
    height: 100vh;
    padding: 40px 0 0;
    min-height: 450px
  }

  .main {
    min-height: 450px;
    background: url(assets/images/icon/main_bg.jpg) 60% 50%/cover no-repeat
  }

  .main .txtArea .tit {
    font-size: 28px;
    line-height: 33px
  }

  .main .txtArea .tit span {
    font-size: 28px;
    margin-top: 0
  }

  .main .txtArea .txt {
    display: none;
    font-size: 14px;
    line-height: 20px
  }

  .main .txtArea .moreBt {
    display: inline-block;
    padding-right: 19px;
    font-weight: 700;
    font-size: 14px;
    color: #ccc;
    background: url(assets/images/icon/main_more.png) 100% 50%/14px auto no-repeat;
    margin-top: 25px
  }

  .main .txtArea .moreBt.on {
    background: url(assets/images/icon/main_more_on.png) 100% 50%/14px auto no-repeat
  }

  .main .txtArea .date {
    font-size: 14px;
    line-height: 21px;
    margin-top: 50px
  }

  .main .start {
    width: 100%;
    height: auto
  }

  .main .start a {
    width: auto;
    height: 40px;
    border-radius: 0;
    font-size: 14px
  }

  .survey .imgArea {
    float: none;
    width: auto;
    height: 45%;
    margin: 0 15px
  }

  .survey .imgArea .bg.bg1_1 {
    background: url(assets/images/icon/m_survey1_bg1.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_2 {
    background: url(assets/images/icon/m_survey1_bg2.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_3 {
    background: url(assets/images/icon/m_survey1_bg3.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_3.v2 {
    background: url(assets/images/icon/m_survey1_bg3_2.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_4 {
    background: url(assets/images/icon/m_survey1_bg4.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_5 {
    background: url(assets/images/icon/m_survey1_bg5.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_6 {
    background: url(assets/images/icon/m_survey1_bg6.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_7 {
    background: url(assets/images/icon/m_survey1_bg7.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg1_8 {
    background: url(assets/images/icon/m_survey1_bg8.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_1 {
    background: url(assets/images/icon/m_survey2_bg1.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_2 {
    background: url(assets/images/icon/m_survey2_bg2.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_3 {
    background: url(assets/images/icon/m_survey2_bg3.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_4 {
    background: url(assets/images/icon/m_survey2_bg4.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_5 {
    background: url(assets/images/icon/m_survey2_bg5.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_6 {
    background: url(assets/images/icon/m_survey2_bg6.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_7 {
    background: url(assets/images/icon/m_survey2_bg7.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_8 {
    background: url(assets/images/icon/m_survey2_bg8.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg2_9 {
    background: url(assets/images/icon/m_survey2_bg9.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg.bg3 {
    background: url(assets/images/icon/m_survey2_bg1.jpg) 50% 50%/cover no-repeat
  }

  .survey .imgArea .bg .txtArea {
    height: 100%;
    top: 0;
    transform: translate(0, 0)
  }

  .survey .imgArea .bg .txtArea .num {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    font-size: 12px
  }

  .survey .imgArea .bg .txtArea .tit {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 0;
    transform: translate(0, -50%);
    font-size: 22px;
    line-height: 24px
  }

  .survey .surveyArea {
    float: none;
    width: 100%;
    height: 55%;
    padding: 0 0 40px
  }

  .survey .surveyArea .qArea {
    display: none;
    top: 0 !important;
    left: 0
  }

  .survey .surveyArea .qArea.on {
    display: block
  }

  .survey .surveyArea .qArea .conDiv .txtArea {
    /* position  : absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 15px 40px;
    box-sizing: border-box
  }

  .survey .surveyArea .qArea .conDiv .btnArea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block !important
  }

  .survey .surveyArea .qArea .conDiv .btnArea .prevNext {
    display: block
  }

  .survey .surveyArea .qArea .conDiv .btnArea>.submitBt {
    display: none
  }

  .survey .surveyArea .qArea .conDiv .btnArea a {
    width: 50%;
    margin: 0
  }

  .survey .surveyArea .q img {
    height: 13px
  }

  .survey .surveyArea .qTxt {
    font-size: 16px;
    line-height: 21px;
    margin-top: 5px
  }

  .survey .surveyArea .pcTxt {
    /* display: none */
  }

  .survey .surveyArea .mobileTxt {
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 15px;
    margin-top: 10px
  }

  .survey .surveyArea .qArea .conDiv {
    padding: 0
  }

  .survey .surveyArea .qArea .txtArea,
  .survey .surveyArea .qArea .txtArea:first-child {
    /* display: none !important */
  }

  .survey .surveyArea .qArea .txtArea.on {
    display: block !important
  }

  .survey .surveyArea .qArea .txtArea .table .table-cell {
    padding: 0 10px
  }

  .survey .surveyArea .scoreArea {
    display: none
  }

  .survey .surveyArea .mobileScore {
    display: block;
    margin-top: 25px
  }

  .survey .surveyArea .checkArea {
    text-align: left;
    margin-top: 15px
  }

  .survey .surveyArea .checkArea.yesNo {
    text-align: center
  }

  .survey .surveyArea .checkArea .input {
    padding: 3px 0 0
  }

  .survey .surveyArea .checkArea .check,
  .survey .surveyArea .checkArea .radio {
    margin: 5px 0;
    width: 50%
  }

  .survey .indiArea {
    left: 0;
    width: 7px;
    margin-top: 0
  }

  .survey .indiArea a {
    position: relative;
    width: 7px;
    height: 4px;
    background: 0 0 !important;
    margin-top: 15px
  }

  .survey .indiArea a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    background: #b2b2b2
  }

  .survey .indiArea a.on:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: 0;
    background: #666
  }

  .survey .surveyArea .mobileScore select {
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 15px;
    color: #444;
    background: url(assets/images/icon/m_sel_icon.png) right 10px top 50%/10px auto no-repeat #ebe9e8;
    border: 0
  }

  .complete {
    display: table;
    width: 100%;
    table-layout: fixed;
    min-height: 0;
    max-height: none;
    background: url(assets/images/icon/complete_bg.jpg) 60% 50%/cover no-repeat #000
  }

  .complete .txtArea {
    position: relative;
    top: 0;
    display: table-cell;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 25px 0;
    transform: translate(0, 0)
  }

  .complete .txtArea .tit {
    font-size: 28px;
    line-height: 33px
  }

  .complete .txtArea .txt {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px
  }

  .complete .txtArea .eCode {
    font-size: 14px;
    margin-top: 20px
  }

  .complete .txtArea .couponArea {
    width: 250px;
    padding: 0;
    margin: 15px auto 0;
    overflow-y: auto
  }

  .complete .txtArea .couponArea .cpBox {
    width: 250px;
    height: auto
  }

  .complete .txtArea .couponArea .cpBox .top {
    height: 81px;
    background: url(assets/images/icon/m_coupon_top_bg.png) 50% 0/100% auto no-repeat
  }

  .complete .txtArea .couponArea .cpBox .top .left {
    left: 15px;
    max-width: 35%
  }

  .complete .txtArea .couponArea .cpBox .top .left .txt1 {
    font-size: 20px
  }

  .complete .txtArea .couponArea .cpBox .top .left .txt1 span {
    font-size: 33px
  }

  .complete .txtArea .couponArea .cpBox .top .left .txt2 {
    font-size: 13px
  }

  .complete .txtArea .couponArea .cpBox .top .right {
    right: 15px;
    max-width: 56%
  }

  .complete .txtArea .couponArea .cpBox .top .right .txt1 {
    font-size: 12px;
    line-height: 1.3
  }

  .complete .txtArea .couponArea .cpBox .top .right .txt2 {
    display: none
  }

  .complete .txtArea .couponArea .cpBox .bottom {
    height: auto;
    padding-top: 24px;
    background: url(assets/images/icon/m_coupon_bottom_bg.png) 50% 0/100% auto no-repeat
  }

  .complete .txtArea .couponArea .cpBox .bottom>div {
    display: none;
    padding: 15px 15px 20px
  }

  .complete .txtArea .couponArea .cpBox .bottom .mobileBtn {
    display: block;
    position: absolute;
    top: 4px;
    left: 50%;
    padding-right: 16px;
    font-weight: 700;
    font-size: 13px;
    color: #666;
    background: url(assets/images/icon/m_more_icon.png) 100% 50%/auto 7px no-repeat;
    transform: translate(-50%, 0)
  }

  .complete .txtArea .couponArea .cpBox .bottom .mobileBtn.on {
    background: url(assets/images/icon/m_more_icon_on.png) 100% 50%/auto 7px no-repeat
  }

  .complete .txtArea .couponArea .cpBox .bottom .txt2 {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #888;
    margin-bottom: 15px
  }

  .complete .txtArea .couponArea .cpBox .bottom ul li {
    font-size: 13px;
    margin-top: 5px
  }

  .errorWrap .errorCon {
    padding: 15px 0
  }

  .errorWrap .errorCon .errorBox {
    padding: 40px 15px
  }

  .errorWrap .errorCon .errorBox .icon img {
    height: 49px
  }

  .errorWrap .errorCon .errorBox .tit {
    font-size: 18px;
    margin-top: 20px
  }

  .errorWrap .errorCon .errorBox .txt1 {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 10px
  }

  .errorWrap .errorCon .errorBox .txt2 {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 20px
  }

  .errorWrap .errorCon .errorBox .txt2 a {
    font-size: 14px
  }

  .errorWrap .errorCon .errorBox .btn {
    margin-top: 20px
  }

  .errorWrap .errorCon .errorBox .btn a {
    padding: 6px 0;
    width: 100px;
    font-size: 12px
  }

  .survey .btnArea a,
  button {
    width: 50%;
    margin: 0
  }

  .survey .btnArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block !important
  }
}

@media all and (max-width:350px) {
  .survey .imgArea {
    height: 40%
  }

  .survey .surveyArea {
    height: 60%
  }
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Medium.ttf)
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Bold.ttf);
  font-weight: 700
}

@font-face {
  font-family: ChakraPetch;
  src: url(assets/fonts/ChakraPetch-Italic.ttf);
  font-weight: italic
}

* {
  margin: 0;
  padding: 0
}

html {
  width: 100%;
  height: 100%
}

body {
  position: relative;
  font-family: ChakraPetch;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1
}

body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
table,
td,
th,
tr,
ul {
  margin: 0;
  padding: 0
}

li,
ol,
ul {
  list-style: none
}

fieldset,
img {
  border: none;
  vertical-align: top
}

caption,
legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1
}

button,
textarea {
  vertical-align: middle
}

input,
select {
  vertical-align: middle;
  background: #fff;
  border: 1px solid #e0e0e0;
  font-family: ChakraPetch;
  font-size: 16px;
  color: #000;
  letter-spacing: 0;
  border-radius: 0
}

input {
  padding: 3px 10px;
  height: 32px
}

option {
  padding: 3px 10px
}

input[type=checkbox],
input[type=radio] {
  border: 0;
  padding: 0;
  height: auto;
  box-shadow: none
}

input[type=password] {
  height: 40px;
  border: 1px solid #e0e0e0;
  color: #000;
  background: #fff;
  -webkit-appearance: none;
  box-shadow: none
}

input[type=text] {
  background: #fff;
  -webkit-appearance: none;
  box-shadow: none;
  padding: 0 12px;
  width: 100%;
  border-radius: 4px
}

input[type=file],
input[type=tel] {
  -webkit-appearance: none;
  box-shadow: none
}

select {
  padding: 5px 30px 5px 10px;
  height: 40px;
  border: 1px solid #e0e0e0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(assets/images/icon/m_sel_icon.png) right 15px center/13px no-repeat #fff
}

select::-ms-expand {
  display: none
}

@-moz-document url-prefix() {
  select {
    padding-left: 10px
  }
}

textarea {
  padding: 10px;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #e0e0e0;
  font-family: ChakraPetch;
  color: #000;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0
}

a {
  text-decoration: none;
  color: #000
}

a:active,
a:focus,
a:hover {
  text-decoration: none
}

table {
  border-collapse: collapse;
  width: 100%
}

button {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  font-size: 16px;
  font-family: ChakraPetch
}

button:active {
  outline: 0
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

strong,
th {
  font-weight: 400
}

::-webkit-input-placeholder {
  color: #cfcfcf
}

:-moz-placeholder {
  color: #cfcfcf;
  opacity: 1
}

::-moz-placeholder {
  color: #cfcfcf;
  opacity: 1
}

:-ms-input-placeholder {
  color: #cfcfcf
}

:placeholder-shown {
  color: #cfcfcf
}

.mt0 {
  margin-top: 0 !important
}

.mt5 {
  margin-top: 5px !important
}

.mt10 {
  margin-top: 10px !important
}

.mt15 {
  margin-top: 15px !important
}

.mt20 {
  margin-top: 20px !important
}

.mt25 {
  margin-top: 25px !important
}

.mt30 {
  margin-top: 30px !important
}

.mt35 {
  margin-top: 35px !important
}

.mt40 {
  margin-top: 40px !important
}

.mt45 {
  margin-top: 45px !important
}

.clear:after {
  content: "";
  display: block;
  clear: both
}

.goCon {
  position: fixed;
  top: -50px;
  left: 0;
  z-index: 9999;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  height: 50px;
  color: #fff;
  line-height: 1;
  background: #272727
}

.goCon:focus {
  top: 0
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 768px;
  overflow-x: hidden
}

#cBody {
  position: relative;
  width: 100%;
  /* overflow: hidden */
}

.blackBg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5)
}

.radio {
  display: inline-block;
  vertical-align: top
}

.radio input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.radio input[type=radio]+label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 27px;
  font-size: 18px;
  color: #555;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.radio input[type=radio]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  text-align: center;
  background: url(assets/images/icon/radio.png) 50% 50%/100% 100% no-repeat
}

.radio input[type=radio]:checked+label {
  font-weight: 700;
  color: #00aad2;
  letter-spacing: -.66px
}

.radio input[type=radio]:checked+label:before {
  background: url(assets/images/icon/radio_on.png) 50% 50%/100% 100% no-repeat
}

.check {
  display: inline-block;
  vertical-align: top
}

.check input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.check input[type=checkbox]+label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 27px;
  font-size: 18px;
  color: #555;
  line-height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.check input[type=checkbox]+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-align: center;
  background: url(assets/images/icon/check.png) 50% 50%/100% 100% no-repeat
}

.check input[type=checkbox]:checked+label {
  font-weight: 700;
  color: #00aad2;
  letter-spacing: -.66px
}

.check input[type=checkbox]:checked+label:before {
  background: url(assets/images/icon/check_on.png) 50% 50%/100% 100% no-repeat
}

.btnArea {
  margin-top: 10px;
  position: relative;
  text-align: center;
  height: auto !important
}

.btnArea.fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  margin-top: 0
}

.btnArea a,
.button {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-right: 10px
}

.btnArea a:last-child,
.button:last-child {
  margin-right: 0
}

.btnArea a.disabled,
.button:disabled {
  color: #a7a7a7 !important
}

.grayBt {
  background: #767676;
  color: #fff
}

.blueBt {
  background: #002c5f;
  color: #fff
}

.blueBt.submit {
  background: #006992;
  color: #fff
}

.input input[type=text] {
  width: calc(100% - 22px);
  font-size: 20px
}

.input input[type=text]:disabled {
  color: #cfcfcf;
  background: #eee
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 33px 0 32px;
  text-align: center
}

#header h1 {
  display: inline-block;
  vertical-align: top
}

#header h1 a {
  display: block;
  width: 300px;
  height: 25px;
  background: url(assets/images/logo.png) 50% 50%/100% auto no-repeat
}

#header h1.type2 a {
  background: url(assets/images/logo_new.png) 50% 50%/100% auto no-repeat
}

#header .lang {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 154px;
  text-align: left;
  border: 1px solid #fff
}

#header .lang.on {
  border: 0;
  background: rgba(255, 255, 255, .8)
}

#header .lang>a {
  display: block;
  height: 31px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  line-height: 31px;
  background: url(assets/images/icon/lang_icon.png) right 20px top 50% no-repeat
}

#header .lang.on>a {
  color: #888;
  background: url(assets/images/icon/lang_icon_on.png) right 20px top 50% no-repeat
}

#header .lang>div {
  padding: 10px 20px 19px;
  display: none
}

#header .lang>div a {
  display: block;
  font-family: ChakraPetch;
  font-weight: 400;
  font-size: 12px;
  color: #888;
  margin-top: 19px
}

#header .lang>div a:first-child {
  margin-top: 0
}

#header .lang.mobile {
  display: none
}

#header .lang.type2 {
  border: 1px solid #eee
}

#header .lang.type2>a {
  color: #888;
  background: url(assets/images/icon/lang_icon2.png) right 20px top 50% no-repeat
}

#footer {
  position: fixed;
  padding: 19px 0;
  background: #2f2f2f;
  font-size: 12px;
  color: #666;
  line-height: 1;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.lyPop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 498px;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 999
}

.lyPop .popClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 18px;
  height: 18px;
  background: url(assets/images/btn/lypop_close.png) 50% 50%/100% auto no-repeat
}

.lyPop .container {
  padding: 40px 10px;
  text-align: center
}

.lyPop .container .txt {
  font-size: 16px;
  color: #000;
  line-height: 26px
}

.lyPop .container .btn {
  text-align: center;
  margin-top: 38px
}

.lyPop .container .btn a {
  display: inline-block;
  width: 110px;
  height: 50px;
  background: #002c5f;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 50px
}

@media all and (max-width:1400px) {
  #header {
    padding: 22px 0
  }

  #header h1 a {
    width: 300px;
    height: 25px
  }

  #header .lang {
    top: 16px;
    right: 20px
  }

  #header .lang>a {
    height: 27px;
    line-height: 27px
  }

  #header .lang>div {
    padding: 9px 20px 17px
  }

  #header .lang>div a {
    margin-top: 17px
  }

  .radio input[type=radio]+label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px
  }

  .radio input[type=radio]+label:before {
    width: 10px;
    height: 10px;
    top: 4px;
    margin-top: 0
  }

  .check input[type=checkbox]+label {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px
  }

  .check input[type=checkbox]+label:before {
    width: 14px;
    height: 14px;
    top: 2px;
    margin-top: 0
  }

  .input input[type=text] {
    padding-bottom: 0;
    font-size: 16px
  }

  .btnArea a,
  .button {
    height: 40px;
    line-height: 40px
  }
}

@media all and (max-width:758px) {
  #wrapper {
    min-height: 450px
  }

  #header {
    padding: 15px 0
  }

  #header h1 a {
    width: 145px;
    height: 11px
  }

  #header .lang {
    display: none
  }

  #header .lang.mobile {
    top: 12px;
    right: 15px;
    display: block;
    width: auto;
    border: 0
  }

  #header .lang.mobile.on {
    background: 0 0
  }

  #header .lang.mobile>a {
    width: 17px;
    height: 17px;
    padding: 0;
    background: url(assets/images/icon/m_lang_icon.png) 50% 50%/100% no-repeat
  }

  #header .lang.mobile>div {
    position: absolute;
    top: -200px;
    right: -200px;
    display: block;
    padding: 0;
    overflow: hidden;
    background: #fff
  }

  #header .lang.mobile>div>div {
    padding: 7px 15px 19px;
    border: 1px solid #eee
  }

  #header .lang.mobile>div a {
    font-size: 13px;
    color: #666;
    margin-top: 20px
  }

  #header .lang.mobile>div a:first-child {
    margin-top: 0
  }

  #header .lang.mobile>div a.langBt {
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 40px
  }

  #header .lang.mobile.type2>a {
    background: url(assets/images/icon/m_lang_icon2.png) 50% 50%/100% no-repeat
  }

  #footer {
    display: none;
    padding: 15px;
    text-align: left;
    line-height: 1.5
  }

  #footer.block {
    display: block
  }

  .radio input[type=radio]+label {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px
  }

  .radio input[type=radio]+label:before {
    top: 3px;
    width: 13px;
    height: 13px;
    margin-top: 0
  }

  .radio input[type=radio]:checked+label {
    font-weight: 400;
    color: #555;
    letter-spacing: 0
  }

  .check input[type=checkbox]+label {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px
  }

  .check input[type=checkbox]+label:before {
    top: 2px;
    width: 13px;
    height: 13px;
    margin-top: 0
  }

  .check input[type=checkbox]:checked+label {
    font-weight: 400;
    color: #555;
    letter-spacing: 0
  }

  .input input[type=text] {
    padding-bottom: 0;
    font-size: 13px
  }

  .lyPop {
    width: calc(100% - 30px);
    padding-top: 25px
  }

  .lyPop .popClose {
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px
  }

  .lyPop .container {
    padding: 25px 15px 20px
  }

  .lyPop .container .txt {
    font-size: 14px;
    line-height: 20px
  }

  .lyPop .container .btn {
    margin-top: 35px
  }

  .lyPop .container .btn a {
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 35px
  }
}

.cus-info {
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  width: 70%
}

.dp-date-picker {
  width: 100%;
  margin: 0
}

.dp-picker-input {
  padding: 0 12px;
  width: 100% !important;
  border-radius: 4px
}

.right {
  float: right !important
}

.form-group {
  padding: 5px 0
}

.form-group label {
  margin: 3px 5px 5px 0
}

.form-control {
  padding: 0 12px;
  width: 100% !important;
  border-radius: 4px
}

.select {
  height: 32px !important
}

.text-red {
  caret-color: #f44336 !important;
  color: red !important
}

.required:after {
  content: " *";
  color: #f44336;
  display: inline-block
}

.error {
  margin-top: 100px;
  text-align: center
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .4;
  top: 0;
  left: 0;
  background-color: #646464;
  z-index: 10;
  text-align: center
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 48%
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: 1.2s linear infinite lds-default;
  animation: 1.2s linear infinite lds-default
}

.lds-default div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  top: 37px;
  left: 66px
}

.lds-default div:nth-child(2) {
  -webkit-animation-delay: -.1s;
  animation-delay: -.1s;
  top: 22px;
  left: 62px
}

.lds-default div:nth-child(3) {
  -webkit-animation-delay: -.2s;
  animation-delay: -.2s;
  top: 11px;
  left: 52px
}

.lds-default div:nth-child(4) {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s;
  top: 7px;
  left: 37px
}

.lds-default div:nth-child(5) {
  -webkit-animation-delay: -.4s;
  animation-delay: -.4s;
  top: 11px;
  left: 22px
}

.lds-default div:nth-child(6) {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s;
  top: 22px;
  left: 11px
}

.lds-default div:nth-child(7) {
  -webkit-animation-delay: -.6s;
  animation-delay: -.6s;
  top: 37px;
  left: 7px
}

.lds-default div:nth-child(8) {
  -webkit-animation-delay: -.7s;
  animation-delay: -.7s;
  top: 52px;
  left: 11px
}

.lds-default div:nth-child(9) {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s;
  top: 62px;
  left: 22px
}

.lds-default div:nth-child(10) {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s;
  top: 66px;
  left: 37px
}

.lds-default div:nth-child(11) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  top: 62px;
  left: 52px
}

.lds-default div:nth-child(12) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  top: 52px;
  left: 62px
}

@-webkit-keyframes lds-default {

  0%,
  100%,
  20%,
  80% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5)
  }
}

@keyframes lds-default {

  0%,
  100%,
  20%,
  80% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5)
  }
}

dp-date-picker {
  display: inline-block
}

dp-date-picker.dp-material .dp-picker-input {
  box-sizing: border-box;
  height: 30px;
  width: 213px;
  font-size: 13px;
  outline: 0
}

dp-date-picker .dp-input-container {
  position: relative
}

dp-date-picker .dp-selected {
  background: #106cc8;
  color: #fff
}

.dp-popup {
  position: relative;
  background: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1);
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 9999;
  white-space: nowrap
}

dp-day-calendar {
  display: inline-block
}

dp-day-calendar .dp-day-calendar-container {
  background: #fff
}

dp-day-calendar .dp-calendar-wrapper {
  box-sizing: border-box;
  border: 1px solid #000
}

dp-day-calendar .dp-calendar-wrapper .dp-calendar-weekday:first-child {
  border-left: none
}

dp-day-calendar .dp-weekdays {
  font-size: 15px;
  margin-bottom: 5px
}

dp-day-calendar .dp-calendar-weekday {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  text-align: center;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000
}

dp-day-calendar .dp-calendar-day {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  cursor: pointer
}

dp-day-calendar .dp-selected {
  background: #106cc8;
  color: #fff
}

dp-day-calendar .dp-next-month,
dp-day-calendar .dp-prev-month {
  opacity: .5
}

dp-day-calendar .dp-hide-near-month .dp-next-month,
dp-day-calendar .dp-hide-near-month .dp-prev-month {
  visibility: hidden
}

dp-day-calendar .dp-week-number {
  position: absolute;
  font-size: 9px
}

dp-day-calendar.dp-material .dp-calendar-weekday {
  height: 25px;
  width: 30px;
  line-height: 25px;
  color: #7a7a7a;
  border: none
}

dp-day-calendar.dp-material .dp-calendar-wrapper {
  border: 1px solid #e0e0e0
}

dp-day-calendar.dp-material .dp-calendar-day,
dp-day-calendar.dp-material .dp-calendar-month {
  box-sizing: border-box;
  background: #fff;
  border-radius: 50%;
  border: none;
  outline: 0
}

dp-day-calendar.dp-material .dp-calendar-day:hover,
dp-day-calendar.dp-material .dp-calendar-month:hover {
  background: #e0e0e0
}

dp-day-calendar.dp-material .dp-selected {
  background: #106cc8;
  color: #fff
}

dp-day-calendar.dp-material .dp-selected:hover {
  background: #106cc8
}

dp-day-calendar.dp-material .dp-current-day {
  border: 1px solid #106cc8
}

dp-calendar-nav .dp-calendar-nav-container {
  position: relative;
  box-sizing: border-box;
  height: 25px;
  border: 1px solid #000;
  border-bottom: none
}

dp-calendar-nav .dp-nav-date-btn {
  box-sizing: border-box;
  height: 25px;
  border: 1px solid #000;
  border-bottom: none
}

dp-calendar-nav .dp-nav-btns-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
  display: inline-block
}

dp-calendar-nav .dp-calendar-nav-container-left,
dp-calendar-nav .dp-calendar-nav-container-right {
  display: inline-block
}

dp-calendar-nav .dp-calendar-nav-left,
dp-calendar-nav .dp-calendar-nav-right,
dp-calendar-nav .dp-calendar-secondary-nav-left,
dp-calendar-nav .dp-calendar-secondary-nav-right {
  position: relative;
  width: 16px;
  cursor: pointer
}

dp-calendar-nav .dp-calendar-nav-left,
dp-calendar-nav .dp-calendar-nav-right {
  line-height: 0
}

dp-calendar-nav .dp-calendar-nav-left::before,
dp-calendar-nav .dp-calendar-nav-right::before {
  position: relative;
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: baseline;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

dp-calendar-nav .dp-calendar-secondary-nav-left,
dp-calendar-nav .dp-calendar-secondary-nav-right {
  padding: 0
}

dp-calendar-nav .dp-calendar-secondary-nav-left::after,
dp-calendar-nav .dp-calendar-secondary-nav-left::before,
dp-calendar-nav .dp-calendar-secondary-nav-right::after,
dp-calendar-nav .dp-calendar-secondary-nav-right::before {
  position: relative;
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: baseline;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

dp-calendar-nav .dp-calendar-secondary-nav-left::before,
dp-calendar-nav .dp-calendar-secondary-nav-right::before {
  right: -10px
}

dp-calendar-nav .dp-calendar-secondary-nav-right {
  left: initial;
  right: 5px
}

dp-calendar-nav .dp-calendar-nav-left::before,
dp-calendar-nav .dp-calendar-secondary-nav-left::after,
dp-calendar-nav .dp-calendar-secondary-nav-left::before {
  position: relative;
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: baseline;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg)
}

dp-calendar-nav .dp-calendar-secondary-nav-left::before {
  right: -10px
}

dp-calendar-nav .dp-nav-header {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
  display: inline-block;
  font-size: 13px
}

dp-calendar-nav .dp-nav-header-btn {
  cursor: pointer
}

dp-calendar-nav .dp-current-location-btn {
  position: relative;
  top: -1px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  background: rgba(0, 0, 0, .6);
  border: 1px solid rgba(0, 0, 0, .6);
  outline: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #fff;
  cursor: pointer
}

dp-calendar-nav .dp-current-location-btn:hover {
  background: #000
}

dp-calendar-nav.dp-material .dp-calendar-nav-container {
  height: 30px;
  border: 1px solid #e0e0e0
}

dp-calendar-nav.dp-material .dp-calendar-nav-left,
dp-calendar-nav.dp-material .dp-calendar-nav-right,
dp-calendar-nav.dp-material .dp-calendar-secondary-nav-left,
dp-calendar-nav.dp-material .dp-calendar-secondary-nav-right {
  border: none;
  background: #fff;
  outline: 0;
  font-size: 16px;
  padding: 0
}

dp-calendar-nav.dp-material .dp-calendar-secondary-nav-left,
dp-calendar-nav.dp-material .dp-calendar-secondary-nav-right {
  width: 20px
}

dp-calendar-nav.dp-material .dp-nav-header-btn {
  height: 20px;
  width: 80px;
  border: none;
  background: #fff;
  outline: 0
}

dp-calendar-nav.dp-material .dp-nav-header-btn:hover {
  background: rgba(0, 0, 0, .05)
}

dp-calendar-nav.dp-material .dp-nav-header-btn:active {
  background: rgba(0, 0, 0, .1)
}

.survey .surveyArea .scoreArea .btns a.on {
  background: #00aad2;
  border-left: 1px solid #5fc5dd;
}